<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/header :: head">
    <meta name="fileStackApi" th:content="${fileStackApi}">
    <meta name="mapboxToken" th:content="${mapboxToken}">
    <title>Create Event</title>
</head>
<body>
<nav th:replace="/fragments/navbar :: navbar"></nav>

<main style="margin: 5rem">
    <h1>Create an Event</h1>
    <form th:action="@{/create}" th:method="POST" th:object="${event}" name="event">
        <div>
            <label for="name">Event Name</label>
            <input name="name" id="name" th:field="*{name}" />
        </div>
        <div>
            <label for="eventDate">Date</label>
            <input type="date" name="eventDate" id="eventDate" />
        </div>
        <div>
            <label for="eventTime">Time</label>
            <input type="time" name="eventTime" id="eventTime" />
        </div>
        <div>
            <label for="meetLocation">Meet Location</label>
            <input type="text" name="meetLocation" id="meetLocation" th:field="*{meetLocation}" placeholder="parking lot #1"/>
        </div>
        <div>
            <label for="eventMeetTime">Meet Time</label>
            <input type="time" name="eventMeetTime" id="eventMeetTime" />
        </div>
        <div>
            <label for="eventDetails">Event Details</label>
            <textarea name="eventDetails" id="eventDetails" rows="5" cols="50" th:field="*{eventDetails}"></textarea>
        </div>
        <div>
            Choose your trail
            <div>
                <input type="radio" id="trailOption1" name="trailOption" class="trailOption" value="existing trail">
                <label for="trailOption1">Choose an existing trail</label>
            </div>
            <div>
                <input type="radio" id="trailOption2" name="trailOption" class="trailOption" value="customize trail">
                <label for="trailOption2">Customize your own trail</label>
            </div>
        </div>

        <div>
            <select id="trailOptions" name="trailOptions">
                <option value="">Nothing selected</option>
                <option th:each="trail : ${trails}" th:value="${trail.id}" th:text="${trail.name}"></option>
            </select>
        </div>
        <div id="trailLocation">
            <label for="searchedName"></label>
            <input type="text" id="searchedName" name="mapSearch">
            <button type="button" id="mapSearch"><i class="fa fa-search"></i></button>
        </div>
        <div id="map" style="height: 900px"></div>
        <input type="hidden" name="trail" th:value="${trail.id}">
        <button type="submit" id="createEvent">Submit</button>
    </form>

    <div class="mask2" role="dialog"></div>
    <div class="modal2" role="alert">

        <!-- Modal content -->
        <div class="modal-content2">
            <div class="modal-header2">
                <h2 class="type1">Customize Your Own Trail</h2>
            </div>
            <div class="modal-body2">
                <form action="/trails/create" method="POST">
                    <div>
                        <label for="trailName">Name</label>
                        <input type="text" id="trailName" name="trailName">
                    </div>
                    <div>
                        <label for="trailLength">Length</label>
                        <input type="number" id="trailLength" step="0.1" name="trailLength">miles
                    </div>
                    <div>
                        Difficulty Level
                        <div>
                            <input type="radio" id="easy" name="difficultyLevel" value="Easy">
                            <label for="easy">Easy</label>
                        </div>
                        <div>
                            <input type="radio" id="moderate" name="difficultyLevel" value="Moderate">
                            <label for="moderate">Moderate</label>
                        </div>
                        <div>
                            <input type="radio" id="strenuous" name="difficultyLevel" value="Strenuous">
                            <label for="strenuous">Strenuous</label>
                        </div>
                    </div>
                    <div>
                        Type
                        <div>
                            <input type="radio" id="loop" name="trailType" value="Loop">
                            <label for="loop">Loop</label>
                        </div>
                        <div>
                            <input type="radio" id="out" name="trailType" value="Out and back">
                            <label for="out">Out and Back</label>
                        </div>
                        <div>
                            <input type="radio" id="point" name="trailType" value="Point to point">
                            <label for="point">Point to Point</label>
                        </div>
                        <div>
                            <input type="radio" id="cycleway" name="trailType" value="Cycleway">
                            <label for="cycleway">Cycleway</label>
                        </div>
                    </div>
                    <div>
                        <label for="trailDetails">Trail Details</label>
                        <textarea name="trailDetails" id="trailDetails" rows="5" cols="50"></textarea>
                    </div>
                    <div>
                        <button type="button" id="images">Upload images</button>
                        <input type="hidden" id="hidden" name="images" />
                        <div id="imagesUploadHint"><i class="fa fa-check hidden" style="color:green"></i></div>
                    </div>
                    <button type="submit" id="createTrail">Submit</button>
                </form>
            </div>
            <div class="modal-footer2">
                <!-- Generator: Adobe Illustrator 22.0.1, SVG Export Plug-In  -->
                <svg class="close" version="1.1"
                     xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
                     x="0px" y="0px" width="100%" height="24.6px" viewBox="0 0 24.6 24.6" style="enable-background:new 0 0 24.6 24.6;"
                     xml:space="preserve">
                    <style type="text/css">
                    .st0{fill:#FFFFFF;}
                    </style>
                    <defs></defs>
                    <path class="st0" d="M24,16.9l-4.6-4.6L24,7.7c0.7-0.7,0.7-1.9,0-2.7l-4.5-4.5c-0.7-0.7-1.9-0.7-2.7,0l-4.6,4.6L7.7,0.6
                    C6.9-0.2,5.7-0.2,5,0.6L0.6,5c-0.7,0.7-0.7,1.9,0,2.7l4.6,4.6l-4.6,4.6c-0.7,0.7-0.7,1.9,0,2.7L5,24c0.7,0.7,1.9,0.7,2.7,0l4.6-4.6
                    l4.6,4.6c0.7,0.7,1.9,0.7,2.7,0l4.5-4.5C24.8,18.8,24.8,17.6,24,16.9z"/>
                </svg>
            </div>
        </div>
        <a class="close" role="button"></a>
    </div>
</main>

<!-- Mapbox JS -->
<script src='https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.js'></script>
<!-- Mapbox Geocoder Util Methods -->
<script src="/js/mapbox-geocoder-utils.js"></script>
<script src="https://static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
<script th:inline="javascript">
    // assign fileStackApi to a variable
    const fileStackApi = [[${fileStackApi}]];
    // assign mapboxToken to a variable
    const mapboxToken = [[${mapboxToken}]];
    console.log(fileStackApi);
</script>
<script src="/js/fileStackImgUpload.js"></script>
<script src="/js/navbar.js"></script>
<script src="/js/map.js"></script>
</body>
</html>