<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/head :: head">
<!--<head>-->
    <meta name="fileStackApi" th:content="${fileStackApi}">
    <meta name="mapboxToken" th:content="${mapboxToken}">
    <title>Create Event</title>
</head>
<body>
<nav th:replace="/fragments/navbar :: navbar"></nav>


<main style="margin: 5rem">
    <h1>Create an Event</h1>
    <form th:action="@{/create}" th:method="POST" th:object="${event}">
        <fieldset>
            <div>
                <label for="name">Event Name</label>
                <input name="name" id="name" th:field="*{name}" />
            </div>
            <div>
                <label for="eventDate">Date</label>
                <input type="date" name="eventDate" id="eventDate"/>
            </div>
            <div>
                <label for="eventTime">Time</label>
                <input type="time" name="eventTime" id="eventTime" />
            </div>
            <div>
                <label for="location">Location/Trail Name</label>
                <input type="text" name="location" id="location" th:field="*{location}" />
            </div>
            <div>
                <label for="meetLocation">Meet Location</label>
                <input type="text" name="meetLocation" id="meetLocation" th:field="*{meetLocation}" placeholder="parking lot #1"/>
            </div>
            <div>
                <label for="eventMeetTime">Meet Time</label>
                <input type="time" name="eventMeetTime" id="eventMeetTime" />
            </div>
            <div>
                <label for="eventDetails">Event Details</label>
                <textarea name="eventDetails" id="eventDetails" rows="5" cols="50" th:field="*{eventDetails}"></textarea>
            </div>
            <div>
                Choose your trail
                <input type="radio" id="trailOption1" name="trailOption" class="trailOption" value="existing trail">
                <label for="trailOption1">Choose an existing trail</label>
                <input type="radio" id="trailOption2" name="trailOption" class="trailOption" value="customize trail">
                <label for="trailOption2">Customize your own trail</label>
            </div>

            <div class="trailOptions">
                <select id="trailOptions">
                    <option>-- Select An Existing Trail --</option>
                    <option>Woodlawn Lake Loop</option>
                    <option>Tom Slick Community</option>
                    <option>Leon Creek Greenway</option>
                    <option>San Antonio River Walk Mission Reach Trail</option>
                    <option>Wilderness and Wildlife Trails</option>
                    <option>McGimsey Scout Trail</option>
                    <option>Bluff Trail and Old Tower Climb Trail</option>
                    <option>Walker Ranch Loop Trail</option>
                </select>
            </div>
            <div>
                <label for="searchedName"></label>
                <input type="text" id="searchedName" name="mapSearch">
                <button type="button" id="mapSearch"><i class="fa fa-search"></i></button>
            </div>
            <div id="map" style="height: 500px"></div>
<!--            <div>-->
<!--                <button type="button" id="images">Upload images</button>-->
<!--                <input type="hidden" name="images" th:field="*{images}" />-->
<!--                <div id="imagesUploadHint"><i class="fa fa-check hidden" style="color:green"></i></div>-->
<!--            </div>-->
            <button type="submit" id="createEvent">Submit</button>
        </fieldset>
    </form>
</main>
<footer th:replace="/fragments/footer :: footer"></footer>

<!-- Mapbox JS -->
<script src='https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.js'></script>
<!-- Mapbox Geocoder Util Methods -->
<script src="/js/mapbox-geocoder-utils.js"></script>
<script src="https://static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
<script th:inline="javascript">
    // assign fileStackApi to a variable
    const fileStackApi = [[${fileStackApi}]];
    // assign mapboxToken to a variable
    const mapboxToken = [[${mapboxToken}]];
    console.log(fileStackApi);
</script>
<script src="/js/fileStackImgUpload.js"></script>
<script src="/js/map.js"></script>
</body>
</html>

