<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head :: head">
    <title>Edit Event</title>
</head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>
<main>
    <h2>Edit Event Details</h2>
    <!--    <div sec:authorize="isAuthenticated()">-->
    <fieldset>
        <form th:action="@{|/events/{id}/edit|}" th:object="${event}" method="POST" name="editEvent">
            <div>
                <label for="name">name</label>
                <input type="text" name="name" id="name" th:field="*{name}"/>
            </div>
            <div>
                <label for="date">date</label>
                <input type="text" name="date" id="date" th:field="*{date}" />
            </div>
            <div>
                <label for="time">time</label>
                <input type="text" name="time" id="time" th:field="*{time}" />
            </div>
            <div>
                <label for="meetLocation">meet location</label>
                <input type="text" id="meetLocation" name="meetLocation" th:field="*{meetLocation}" />
            </div>
            <div>
                <label for="meetTime">meet time</label>
                <input type="text" id="meetTime" name="meetTime" th:field="*{meetTime}" />
            </div>
            <div>
                <label for="eventDetails">event details</label>
                <input id="eventDetails" type="text" name="eventDetails" th:field="*{eventDetails}" />
            </div>

            <button>Submit Edits</button>
        </form>
            <a href="/events/${event.id}/delete">
                <button class="btn btn-danger">Delete Event</button>
            </a>
    </fieldset>
</main>
<footer th:replace="fragments/footer :: footer"></footer>

<script type="text/javascript" src="/js/sticky.js"></script>
<script src="/js/login.js"></script>
<script src="/js/navbar.js"></script>
</body>
</html>
