<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="/fragments/head :: head">
    <title>Edit Event</title>
</head>
<body>
<nav th:replace="/fragments/navbar :: navbar"></nav>

<main>
    <form th:action="@{/events/${editedEvent.id}/edit}" th:method="POST" th:object="${editedEvent}">
<!--        not sure if I should take out the | in the action above-->
        <h1>Edit your event</h1>
        <h3>Event Details</h3>
            <div>
                <label for="eventName">name</label>
                <input type="text" name="name" id="eventName" th:field="*{name}"/>
            </div>

<!--        change the bottom inputs like the above one-->
            <div><label>date</label><input type="text" name="date" /></div>
            <div><label>time</label><input type="text" name="time" /></div>
            <div><label>trail </label><input type="text" name="trail " /></div>
            <div><label>meet location</label><input type="text" name="meetLocation" /></div>
            <div><label>meet time</label><input type="text" name="meetTime" /></div>
            <div><label>event details</label><input type="text" name="eventDetails" /></div>
            <div><label>images</label><input type="text" name="images" /></div>

        <button type="submit" id="save">Complete</button>
    </form>
</main>

<footer th:replace="/fragments/footer :: footer"></footer>
</body>
</html>