<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" style="max-width: 100%; overflow: hidden;">
<head th:replace="fragments/head :: head">
    <title>Show All Events</title>
</head>
<body style="max-width: 100%; overflow: hidden; display: block;">

<nav th:replace="fragments/navbar :: navbar"></nav>

<style>
    #parallax{
        filter:hue-rotate(180deg);
    }
</style>

<div id="parallax" style="flex: 1;">
    <div class="sky"></div>
<!--    <div class="parallax__layer parallax__layer__0">-->
<!--        <img src="/images/nine.png" height="455" width="3840"/>-->
<!--    </div>-->
    <div class="parallax__layer parallax__layer__1">
        <img src="/images/eight1.png" height="455" width="3840"/>
    </div>
    <div class="parallax__layer parallax__layer__2">
        <img src="/images/seven1.png" height="455" width="3840"/>
    </div>
    <div class="parallax__layer parallax__layer__3">
        <img src="/images/five1.png" height="455" width="3840"/>
    </div>
    <div class="parallax__layer parallax__layer__4">
        <img src="/images/three1.png" height="455" width="3840"/>
    </div>

    <div class="parallax__layer parallax__layer__5">
        <img src="/images/two1.png" height="455" width="3840"/>
    </div>
    <div class="parallax__layer parallax__layer__6"style="filter: hue-rotate(180deg)">
        <img src="/images/one1.png" height="455" width="3840"/>
    </div>
    <div class="parallax__cover"style="filter: hue-rotate(180deg)"></div>
    <main class="event-cards-container">
        <!--<body class="background-image">-->
        <div th:if="${noEventsFound}">
            <h1 class="noEvent">No events were found.</h1>
        </div>

        <h2 style="font-size: 2.5rem; margin-top: 0;">Review the list for trail events happening near you!</h2>
        <ul class="card-list">
            <li th:each="event : ${events}" class="card">
                <a th:href="${'/events/' + event.id}" class="card-description">
                    <h3 th:text="${event.name}"></h3>
                </a>
                <table>
                    <tbody>
                        <tr>
                            <th>By</th>
                            <td th:text="${event.owner.username}"></td>
                        </tr>
                        <tr>
                            <th>Date</th>
                            <td th:text="${'Date: ' + event.date}"></td>
                        </tr>
                        <tr>
                            <th>Time</th>
                            <td th:text="${'Time: ' + event.time}"></td>
                        </tr>
                        <tr>
                            <th>Trail</th>
                            <td><a th:href="${'/trails/' + event.trail.id}"><span th:text="${event.trail.name}"></span></a></td>
                        </tr>
                    </tbody>
                </table>
                    <hr>
            </li>
        </ul>
    </main>

</div>


<!--<footer id="footer">-->
<!--    <div class="top-footer">-->
<!--        <div class="logo">Real Trail</div>-->
<!--        <div class="social-links">-->
<!--            <a href=""><i class="fab fa-facebook-f"></i></a>-->
<!--            <a href=""><i class="fab fa-twitter"></i></a>-->
<!--            <a href=""><i class="fab fa-pinterest"></i></a>-->
<!--            <a href=""><i class="fab fa-instagram"></i></a>-->
<!--        </div>-->
<!--    </div>-->
<!--    <hr>-->
<!--    <div id="copyright">-->
<!--        &copy; All Rights Reserved 2021-->
<!--    </div>-->
<!--</footer>-->
</body>

<script src="/js/navbar.js"></script>
<script src="/js/modal.js"></script>
<script src="/js/login.js"></script>
</body>
</html>