<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head :: head">
    <title>Show Event</title>
</head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>
<main style="margin-top: 5rem">
    <div th:if="${param.joined}">Thank you for joining the event!</div>
    <div th:if="${param.alreadyjoined}">You have already joined the event!</div>
    <div th:if="${event == null}">
        No event found. <a href="/create">Create one</a>
    </div>

    <div th:if="${event}">
        <h3 th:text="${event.name}"></h3>
        <p th:text="${'Event coordinator: ' + event.owner.username}"></p>
        <h4 th:text="${'date: ' + event.date}"></h4>
        <h4 th:text="${'time: ' + event.time}"></h4>
        <h4 th:text="${event.eventDetails}"></h4>
        <div>Trail:<a th:href="${'/trails/' + event.trail.id}"><h4 th:text="${event.trail.name}"></h4></a></div>
        <div>Meet location:<h4 th:text="${event.meetLocation}"></h4></div>
        <div>Meet time:<h4 th:text="${event.meetTime}"></h4></div>
        <div th:if="${event.owner.id == user.id && event.participants != null}">
            <div>Participants:
                <div th:each="participant : ${event.participants}">
                    <p th:text="${participant.username}"></p>
                </div>
            </div>
        </div>
        <div th:if="${event.eventComments != null}">Comments:
            <div th:each="comment : ${event.eventComments}">
                <h4 th:text="${comment.content}"></h4>
                <div th:if="${user.isAdmin() || user.id == comment.owner.id}">
                    <form th:action="@{/events/{id}/comment/{cid}/delete(id=${event.id},cid=${comment.id})}"
                          method="post">
                        <button type="submit">Delete</button>
                    </form>
                </div>
            </div>
        </div>

        <div sec:authorize="isAuthenticated()">
            <form th:action="@{/events/{id}/comment(id=${event.id})}" th:object="${eventComment}" th:method="POST">
                <textarea th:name="eventComment" id="" cols="30" rows="10" th:field="*{content}"></textarea>
                <button type="submit">Submit</button>
            </form>
        </div>

    </div>

    <div th:if="${event.owner.id == user.id}">
        <div>
            <a th:href="${'/events/'+ event.id + '/edit'}">Update</a>
        </div>

        <form th:action="@{|/events/{id}/delete|}" method="POST">
            <h2>Click the delete button to delete your event</h2>
            <button th:type="submit">delete</button>
        </form>
    </div>

    <div th:if="${event.owner.id != user.id}">
        <form th:action="@{|/events/${id}/join|}" method="POST">
            <h2>Click the join button to join your event</h2>
            <button th:type="submit">Join</button>
        </form>
    </div>
</main>
<footer th:replace="fragments/footer :: footer"></footer>
<script src="/js/login.js"></script>
<script src="/js/navbar.js"></script>
</body>
</html>