<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head :: head">
    <title>Show Event</title>
</head>
<body>

<nav th:replace="fragments/navbar :: navbar"></nav>
<main style="margin-top: 5rem">
    <div >
        <div th:if="${param.joined}">Thank you for joining the event!</div>
        <div th:if="${param.alreadyjoined}">You have already joined the event!</div>
        <div th:if="${event == null}">
            No event found. <a href="/create">Create one</a>
        </div>
    </div>
    <table th:if="${event}" class="trail-info trail-header">


        <thead>
        <tr>
            <td><h1 th:text="${event.name}"></h1></td>
        </tr>
        <tr>
            <td>Event coordinator:</td>
            <td th:text="${event.owner.username}"></td>
        </tr>
        <tr>
            <td>date:</td>
            <td th:text="${event.date}"></td>
        </tr>
        <tr>
            <td>time:</td>
            <td th:text="${event.time}"></td>
        </tr>
        <tr>
            <td>Event details:</td>
            <td th:text="${event.eventDetails}"></td>
        </tr>
        <tr>
            <td>Trail:</td>
            <td><a th:href="${'/trails/' + event.trail.id}"><h4 th:text="${event.trail.name}"></h4></a></td>
        </tr>
        <tr>
            <td>Meet location:</td>
            <td th:text="${event.meetLocation}"></td>
        </tr>
        <tr>
            <td>Meet time:</td>
            <td th:text="${event.meetTime}"></td>
        </tr>
        </thead>
    </table>
        <div th:if="${event.owner.id == user.id && !event.participants.isEmpty()}">
            <div>Participants:
                <div th:each="participant : ${event.participants}">
                    <p th:text="${participant.username}"></p>
                </div>
            </div>
        </div>

        <br>
        <table class="trail-comments">
            <tbody th:if="${!event.eventComments.isEmpty()}" th:each="comment : ${event.eventComments}" class="trail-comment">
            <tr>
                <td><img class="profileImage" th:src="${comment.owner.profileImageUrl}" alt="profile-image"></td>
                <td class="starRating">
                    <span th:text="${comment.owner.username}"></span>
                    <div class="stars"></div>
                    <span th:text="${comment.date}"></span>
                </td>
            </tr>
            <tr><td th:text="${comment.content}"></td></tr>
            <tr>
                <td th:if="${user.isAdmin() || user.id == comment.owner.id}">
                    <form th:action="@{/events/{id}/comment/{cid}/delete(id=${event.id},cid=${comment.id})}"
                          method="post">
                        <button type="submit" class="btn-submit">Delete</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>

        <div sec:authorize="isAuthenticated()">
            <form th:action="@{/events/{id}/comment(id=${event.id})}" th:method="POST" class="rating-widget">
                <textarea name="eventComment" id="trail-content" cols="30" rows="10"></textarea>
                <button type="submit" class="btn-submit">Submit</button>
            </form>
        </div>

        <div th:if="${event.owner.id == user.id}">

                <a th:href="${'/events/'+ event.id + '/edit'}" class="btn-submit">Edit Event</a>

                <form th:action="@{/events/{id}/delete(id=${event.id})}" method="POST">
                    <h2>Click the delete button to delete your event</h2>
                    <button th:type="submit" class="btn-submit">delete</button>
                </form>



            <div th:if="${event.owner.id != user.id}" >
                <form th:action="@{|/events/${id}/join|}" method="POST">
                    <h2>Click the join button to join your event</h2>
                    <button th:type="submit" class="btn-submit">Join</button>
                </form>
            </div>
        </div>

</main>
<!--<footer th:replace="fragments/footer :: footer"></footer>-->
<script src="/js/navbar.js"></script>
<script src="/js/modal.js"></script>
<script src="/js/login.js"></script>
</body>
</html>