<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
    <title>Responsive Footer</title>
</head>
<body>
<footer id="footer" th:fragment="footer">
    <div class="top-footer">
        <div class="logo">Real Trail</div>
        <div class="social-links">
            <a href=""><i class="fab fa-facebook-f"></i></a>
            <a href=""><i class="fab fa-twitter"></i></a>
            <a href=""><i class="fab fa-pinterest"></i></a>
            <a href=""><i class="fab fa-instagram"></i></a>
        </div>
    </div>
    <hr>
    <div id="copyright">
        &copy; All Rights Reserved 2021
    </div>
</footer>
</body>
</html>