<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="/fragments/header :: head">
    <meta name="fileStackApi" th:content="${fileStackApi}">
    <title>Admin</title>
</head>
<body>
<nav th:replace="/fragments/navbar :: navbar"></nav>
<main>
    <div th:if="${user == null}">
        Please log in first.
    </div>

    <h1>Admin</h1>
    <form action="/profile/image" method="POST">
        <img th:src="${user.profileImageUrl}" alt="profile-image" id="profileImage">
        <input type="hidden" id="profileImageUrl" name="profileImageUrl" th:value="replaceme" >
        <button type="submit" id="upload">Upload profile image</button>
    </form>


    <form th:action="@{'/profile/settings/'+${user.id}}" th:method="POST" th:object="${user}">
        <fieldset>
            <legend>
                <h3>Personal Details</h3>
            </legend>
            <div>
                <input type="hidden" id="originalImage" th:value="${user.profileImageUrl}">
                <input type="hidden" id="profileImg" name="profileImageUrl" th:field="*{profileImageUrl}">
                <label for="firstName">First Name</label>
                <input type="text" name="firstName" id="firstName" th:field="*{firstName}">
            </div>
            <div>
                <label for="lastName">Last Name</label>
                <input type="text" name="lastName" id="lastName" th:field="*{lastName}">
            </div>
            <div>
                <label for="phoneNumber">Phone Number</label>
                <input type="tel" name="phoneNumber" id="phoneNumber" placeholder="123-456-7890"
                       pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" th:field="*{phoneNumber}">
            </div>
            <div>
                <label for="city">City</label>
                <input type="text" name="city" id="city" placeholder="San Antonio" th:field="*{city}"/>
            </div>
            <div>
                <label for="state">State</label>
                <input type="text" name="state" id="state" placeholder="TX" th:field="*{state}"/>
            </div>

            <label>Gender</label>
            <div class="gender">
                <input type="radio" id="male" name="gender" value="M" th:field="*{gender}"/>
                <label for="male" class="radio">Male</label>
                <input type="radio" id="female" name="gender" value="F" th:field="*{gender}"/>
                <label for="female" class="radio">Female</label>
            </div>

            <label>Interests</label>
            <div th:each="interest : ${interests}">
                <label th:class="${'interest' + interest.id}">
                    <input type="checkbox" name="categories" th:field="*{interests}" th:value="${interest.id}"
                           th:text="${interest.interest}">
                </label>
            </div>
        </fieldset>
        <button type="submit" class="btn" id="createProfile">Complete</button>
        <a th:href="@{'/profile/delete/'+${user.id}}" class="btn" id="delete">Delete</a>
    </form>
    <a href="/profile">Close</a>


</main>

<footer th:replace="/fragments/footer :: footer"></footer>

<script src="https://static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
<script th:inline="javascript">
    // assign fileStackApi to a variable
    const fileStackApi = [[${fileStackApi}]];
</script>
<script src="/js/fileStackImgUpload.js"></script>
</body>
</html>
