<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head :: head">
    <title>All Users</title>
</head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>
<main>
    <h1 style="margin-top: 5rem">All Users</h1>
        
    <table th:each="user : ${users}">
        <tr>
            <th><img th:src="${user.profileImageUrl}" class="profileImage" alt="profile-image"></th>
        </tr>
        <tr>
            <th>Username</th>
            <td th:text="${user.username}"></td>
        </tr>
        <tr>
            <th>Email</th>
            <td th:text="${user.email}"></td>
        </tr>
        <tr>
            <td th:if="${loggedInUser.isAdmin()}">
                <a th:href="${'/profile/' + user.id + '/edit'}">Edit</a>
            </td>
            <td th:if="${loggedInUser.isAdmin()}">
                <form th:action="@{/users/{id}/delete(id=${user.id})}" method="post">
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
    </table>
</main>
<footer th:replace="fragments/footer :: footer"></footer>
<script src="/js/login.js"></script>
<script src="/js/navbar.js"></script>
</body>
</html>