<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="FORM.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />


</head>
<body>

<div class="form__wrapper">
    <div class="form">
        <div class="form__options">
            <div class="form__options__login">
                <div class="options__body">
                    <p>Already have an account?</p>
                    <a href="#" class="btn btn-light toggle-slide">Login!</a>
                </div>
            </div>
            <div class="form__options__signup">
                <p>Don't have an account yet?</p>
                <a href="#" class="btn btn-light toggle-slide">Sign Up!</a>
                <small>It's free!</small>
            </div>
        </div>

        <div class="form__background"></div>

        <div class="form__body">
            <form action="/login" method="POST" class="login">
                <h2>Login!</h2>
                <div class="input-field">
                    <input type="text" id="log_username" name="log_username">
                    <label for="log_username">Username</label>
                </div>
                <div class="input-field">
                    <input type="password" id="password" name="password" onkeyup='check()'>
                    <label for="password">Password</label>
                </div>
                <div class="input-field">
                    <input type="password" id="checkPassword" name="checkPassword" onkeyup='check()'>
                    <label for="checkPassword">Confirm Password</label>
                    <p id="alertPassword"></p>
                </div>
                <input type="submit" class="btn" value="Login" name="login">
            </form>

            <form action="/login" method="POST" class="sign-up">
                <h2>Sign Up!</h2>
                <div class="input-field">
                    <input type="email" id="create_email" name="create_email">
                    <label for="create_email">Email Address</label>
                </div>
                <div class="input-field">
                    <input type="text" id="create_username" name="create_username">
                    <label for="create_username">Username</label>
                </div>
                <div class="input-field">
                    <input type="password" id="createPassword" name="createPassword" onkeyup='checkSign()'>
                    <label for="createPassword">Password</label>
                </div>
                <div class="input-field">
                    <input type="password" id="confirmCreatePassword" name="confirmCreatePassword" onkeyup='checkSign()'>
                    <label for="confirmCreatePassword">Confirm Password</label>
                    <p id="alertPasswordSign"></p>
                </div>

                <div class="input-field">
                    <input type="text" id="firstName" name="firstName">
                    <label for="firstName">First Name</label>
                </div>

                <div class="input-field">
                    <input type="text" id="lastName" name="lastName">
                    <label for="lastName">Last Name</label>
                </div>


                <input type="submit" class="btn btn-light toggle-slide" value="Create Account" name="signup">
            </form>
        </div>

    </div>
</div>
<script src="login.js"></script>

</body>
</html>