<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body style="max-width: 100%; overflow-x: hidden; height: 100vh;">
<nav th:replace="fragments/navbar :: navbar"></nav>

<main>
    <div class="profile-animate">
        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
        <lottie-player class="header-animatePro" src="https://assets4.lottiefiles.com/packages/lf20_3GxFSt.json"  background="transparent"  speed="0.5"  style="width: 2300px; height: 2300px;"  loop  autoplay></lottie-player>
    </div>
    <div class="profile-header">
        <img th:src="${user.profileImageUrl}" class="profileImage" alt="profile-image">
        <div class="profile-username">
            <div>Username</div>
            <h1 th:text="${user.username}"></h1>
        </div>
    </div>
    <div class="profile-info-container">
        <table class="profile-info">
            <tr th:if="${user.firstName == null || user.lastName == null}">
                <th>Name</th>
                <td>No name available</td>
            </tr>
            <tr th:if="${user.firstName != null && user.lastName != null}">
                <th>Name</th>
                <td th:text="${user.firstName + ' ' + user.lastName}"></td>
            </tr>
            <tr>
                <th>Email</th>
                <td th:text="${user.email}"></td>
            </tr>
            <tr th:if="${user.phoneNumber == null}">
                <th>Phone Number</th>
                <td>No phone number available</td>
            </tr>
            <tr th:if="${user.phoneNumber != null}">
                <th>Phone Number</th>
                <td th:text="${user.phoneNumber}"></td>
            </tr>
            <tr th:if="${user.city == null || user.state == null}">
                <th>City, State</th>
                <td>No city and state available</td>
            </tr>
            <tr th:if="${user.city != null && user.state != null}">
                <th>City, State</th>
                <td th:text="${user.city + ', ' + user.state}"></td>
            </tr>
            <tr th:if="user.interests == null">
                <th>Interests</th>
                <td>No interests selected</td>
            </tr>
            <tr th:if="user.interests != null">
                <th>Interests</th>
                <td th:each="interest : ${user.interests}" th:text="${interest.interest}"></td>
            </tr>
            <tr>
                <td>
                    <i class="fas fa-walking"></i>
                    <i class="fas fa-running"></i>
                    <i class="fas fa-hiking"></i>
                    <i class="fas fa-biking-mountain"></i>
                    <i class="fa fad fa-biking"></i>
                </td>
            </tr>
            <tr>
                <td><a class="btn-submit" th:href="@{/profile/{id}/edit(id=${user.id})}">Edit</a></td>
            </tr>
        </table>
    </div>

    <div class="createdEventsC">
        <div th:if="${createdEvents.isEmpty() && loggedInUser.id == user.id}" class="events-container">
            <h2>You have not created any events. <a href="/create">Create one now</a></h2>
        </div>
        <div th:if="${!createdEvents.isEmpty()}" class="events-container">
            <h2>You have created these events</h2>
            <table>
                <tbody th:each="event : ${createdEvents}" class="events">
                <tr class="event">
                    <td><a th:href="@{events/{id}(id=${event.id})}"><span th:text="${event.name}"></span></a></td>
                </tr>
                <tr>
                    <td th:text="${event.date}"></td>
                    <td th:text="${event.time}"></td>
                </tr>
                <tr><td>
                    <form th:action="@{/events/{id}/delete(id=${event.id})}" th:method="POST">
                        <button th:type="submit" class="btn-submit">Delete</button>
                    </form>
                </td></tr>
                </tbody>
            </table>
        </div>

        <div th:if="${events.isEmpty() && loggedInUser.id == user.id}" class="events-container">
            <h2>You have not joined any events. <a href="/events">Want to join now?</a></h2>
        </div>
        <div th:if="${!events.isEmpty()}" class="events-container">
            <h2>You have joined these events</h2>
            <table>
                <tbody th:each="event : ${events}" class="events">
                <tr class="event">
                    <td><a th:href="@{events/{id}(id=${event.id})}"><span th:text="${event.name}"></span></a></td>
                </tr>
                <tr>
                    <td th:text="${event.date}"></td>
                    <td th:text="${event.time}"></td>
                </tr>
                <tr><td>
                    <form th:action="@{/events/{id}/cancel(id=${event.id})}" th:method="POST">
                        <button th:type="submit" class="btn-submit">Cancel</button>
                    </form>
                </td></tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- Generator: Adobe Illustrator 22.0.1, SVG Export Plug-In  -->
    <svg class="maroon" version="1.1"
         xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
         x="0px" y="0px" width="1066px" height="193.2px" viewBox="0 0 1066 193.2" style="enable-background:new 0 0 1066 193.2;"
         xml:space="preserve">
        <style type="text/css">
           .maroon {
               fill: #E5E5E5;
               stroke: #E5E5E5;
               stroke-miterlimit: 10;
           }
        </style>
        <defs></defs>
        <path class="maroon" d="M302,192.6c33.1,0,66.2,0,99.3,0c75.8,0,151.5,0,227.3,0c83.2,0,166.4,0,249.6,0c55.4,0,110.8,0,166.3,0
           c5.7,0,11.5,0,17.2,0c-5.4-1.2-10.3-3.4-15.3-5.8c-6.3-3-12.6-5.9-19.1-8.4c-16.8-6.5-33.7-13-50.5-19.6
           c-64.8-25.2-274.9-110.2-315-127.9C611.5,8.7,556.9-3.9,501.9,1.9c-75.6,8-117.5,58.6-183.9,94.7c-91.6,49.8-208.1,98.6-318,96
           C0,192.6,302,192.6,302,192.6z"/>
    </svg>

    <!-- Generator: Adobe Illustrator 22.0.1, SVG Export Plug-In  -->
    <svg class="red" version="1.1"
         xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
         x="0px" y="0px" width="1066px" height="193.2px" viewBox="0 0 1066 193.2" style="enable-background:new 0 0 1066 193.2;"
         xml:space="preserve">
        <style type="text/css">
           .red {
               fill: #852447;
               stroke: #852447;
               stroke-miterlimit: 10;
           }
        </style>
        <defs></defs>
        <path class="red" d="M302,192.6c33.1,0,66.2,0,99.3,0c75.8,0,151.5,0,227.3,0c83.2,0,166.4,0,249.6,0c55.4,0,110.8,0,166.3,0
           c5.7,0,11.5,0,17.2,0c-5.4-1.2-10.3-3.4-15.3-5.8c-6.3-3-12.6-5.9-19.1-8.4c-16.8-6.5-33.7-13-50.5-19.6
           c-64.8-25.2-274.9-110.2-315-127.9C611.5,8.7,556.9-3.9,501.9,1.9c-75.6,8-117.5,58.6-183.9,94.7c-91.6,49.8-208.1,98.6-318,96
           C0,192.6,302,192.6,302,192.6z"/>
    </svg>

    <div id="triangle-bottomright"></div>
</main>

<script src="/js/navbar.js"></script>
<script src="/js/modal.js"></script>
<script src="/js/login.js"></script>
</body>
</html>
