<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head :: head">
    <title>Show Profile</title>
</head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>

<main>
    <h1><span th:text="${user.username}"></span>'s Profile</h1>
    <div class="profile-header">
        <img th:src="${user.profileImageUrl}" class="profileImage" alt="profile-image">
        <div class="profile-username">
            <div>Username</div>
            <h1 th:text="${user.username}"></h1>
        </div>
    </div>
    <table class="profile-info">
        <tr th:if="${user.firstName == null || user.lastName == null}">
            <th>Name</th>
            <td>No name available</td>
        </tr>
        <tr th:if="${user.firstName != null && user.lastName != null}">
            <th>Name</th>
            <td th:text="${user.firstName + ' ' + user.lastName}"></td>
        </tr>
        <tr>
            <th>Email</th>
            <td th:text="${user.email}"></td>
        </tr>
        <tr th:if="${user.phoneNumber == null}">
            <th>Phone Number</th>
            <td>No phone number available</td>
        </tr>
        <tr th:if="${user.phoneNumber != null}">
            <th>Phone Number</th>
            <td th:text="${user.phoneNumber}"></td>
        </tr>
        <tr th:if="${user.city == null || user.state == null}">
            <th>City, State</th>
            <td>No city and state available</td>
        </tr>
        <tr th:if="${user.city != null && user.state != null}">
            <th>City, State</th>
            <td th:text="${user.city + ', ' + user.state}"></td>
        </tr>
        <tr th:if="user.interests == null">
            <th>Interests</th>
            <td>No interests selected</td>
        </tr>
        <tr th:if="user.interests != null">
            <th>Interests</th>
            <td th:each="interest : ${user.interests}" th:text="${interest.interest}"></td>
        </tr>
        <tr>
            <td>
                <i class="fas fa-walking"></i>
                <i class="fas fa-running"></i>
                <i class="fas fa-hiking"></i>
                <i class="fas fa-biking-mountain"></i>
                <i class="fa fad fa-biking"></i>
            </td>
        </tr>
        <tr>
            <td><a class="btn-submit" th:href="@{/profile/{id}/edit(id=${user.id})}">Edit</a></td>
        </tr>
    </table>

    <div th:if="${createdEvents.isEmpty() && loggedInUser.id == user.id}" class="events-container">
        <h2>You have not created any events. <a href="/create">Create one now</a></h2>
    </div>
    <div th:if="${!createdEvents.isEmpty()}" class="events-container">
        <h2>You have created these events</h2>
        <table>
            <tbody th:each="event : ${createdEvents}" class="events">
                <tr class="event">
                    <td><a th:href="@{events/{id}(id=${event.id})}"><span th:text="${event.name}"></span></a></td>
                </tr>
            <tr>
                <td th:text="${event.date}"></td>
                <td th:text="${event.time}"></td>
            </tr>
            <tr><td>
                <form th:action="@{/events/{id}/delete(id=${event.id})}" th:method="POST">
                    <button th:type="submit" class="btn">Delete</button>
                </form>
            </td></tr>
            </tbody>
        </table>
    </div>

    <div th:if="${events.isEmpty() && loggedInUser.id == user.id}" class="events-container">
        <h2>You have not joined any events. <a href="/events">Want to join now?</a></h2>
    </div>
    <div th:if="${!events.isEmpty()}" class="events-container">
        <h2>You have joined these events</h2>
        <table>
            <tbody th:each="event : ${events}" class="events">
                <tr class="event">
                    <td><a th:href="@{events/{id}(id=${event.id})}"><span th:text="${event.name}"></span></a></td>
                </tr>
                <tr>
                    <td th:text="${event.date}"></td>
                    <td th:text="${event.time}"></td>
                </tr>
                <tr><td>
                    <form th:action="@{/events/{id}/cancel(id=${event.id})}" th:method="POST">
                        <button th:type="submit" class="btn">Cancel</button>
                    </form>
                </td></tr>
            </tbody>
        </table>
    </div>
</main>

<script src="/js/navbar.js"></script>
<script src="/js/modal.js"></script>
<script src="/js/login.js"></script>
</body>
</html>
