<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="/fragments/head :: head">
  <title>Reset Password</title>
</head>
<body>
<nav th:replace="/fragments/navbar :: navbar"></nav>
<main>
  <h1>Reset Password</h1>

  <form method="post" action="/password/reset">
    <label for="oldPassword">Old Password:</label>
    <input type="password" id="oldPassword" name="oldPassword" title="Old password" />

    <label for="newPassword">New Password:</label>
    <input type="password" id="newPassword" name="newPassword" title="New password" />

    <label for="confirmPassword">Confirm Password:</label>
    <input type="password" id="confirmPassword" name="confirmPassword" title="Confirm new password" />

    <p class="form-actions">
      <input type="submit" value="Reset Password" title="Reset Password" />
    </p>

  </form>
</main>

<footer th:replace="/fragments/footer :: footer"></footer>
</body>
</html>