<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head :: head">
    <title>Show Profile</title>
</head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>
<style>
    .profile-header {
        font-size: 1.2rem;
        display: flex;
        align-items: flex-end;
        height: 20rem;
        width: 100%;
        background-color: rgba(225,225,225,1);
        margin-top: 5rem;
    }

    .profile-username {
        margin-left: 2rem;
    }

    .profile-header > img.profileImage {
        margin-left: 4rem;
        width: 15rem;
        clip-path: circle(40%);
        overflow: hidden;
    }
</style>
<main>
    <div class="profile-header">
        <img th:src="${user.profileImageUrl}" class="profileImage" alt="profile-image">
        <div class="profile-username">
            <div>Username</div>
            <h1 th:text="${user.username}"></h1>
        </div>
    </div>

    <table>
        <tr th:if="${user.firstName == null || user.lastName == null}">
        <th>Name</th>
        <td>"No name available"</td>
    </tr>
        <tr th:if="${user.firstName != null && user.lastName != null}">
            <th>Name</th>
            <td th:text="${user.firstName + ' ' + user.lastName}"></td>
        </tr>
        <tr>
            <th>Email</th>
            <td th:text="${user.email}"></td>
        </tr>
        <tr th:if="${user.phoneNumber == null}">
            <th>Phone Number</th>
            <td>No phone number available</td>
        </tr>
        <tr th:if="${user.phoneNumber != null}">
            <th>Phone Number</th>
            <td th:text="${user.phoneNumber}"></td>
        </tr>
        <tr th:if="${user.city == null || user.state == null}">
            <th>City, State</th>
            <td>No city and state available</td>
        </tr>
        <tr th:if="${user.city != null && user.state != null}">
            <th>City, State</th>
            <td th:text="${user.city + ', ' + user.state}"></td>
        </tr>
        <tr th:if="user.interests == null">
            <th>Interests</th>
            <td>No interests selected</td>
        </tr>
        <tr th:if="user.interests != null">
            <th>Interests</th>
            <td th:each="interest : ${user.interests}" th:text="${interest.interest}"></td>
        </tr>
        <tr>
            <td>
                <i class="fa fas fa-walking"></i>
                <i class="fa fas fa-hiking"></i>
                <i class="fa fad fa-biking-mountain"></i>
                <i class="fa fad fa-biking"></i>
            </td>
        </tr>
    </table>

    <a href="/profile/settings">Edit</a>
    <a href="/password/reset">Reset Password</a>

    <div th:if="${createdEvents.isEmpty()}">
        <h2>You have not created any events. <a href="/create">Create one now</a></h2>
    </div>
    <div th:if="${!createdEvents.isEmpty()}">
        <h2>You have created these events</h2>
        <div th:each="event : ${createdEvents}" id="createdEvents">
            <a th:href="@{events/{id}(id=${event.id})}">
            <h3 th:text="${event.name}"></h3>
            <h3 th:text="${event.date}"></h3>
            <h3 th:text="${event.time}"></h3>
            </a>
            <form th:action="@{/events/{id}/delete(id=${event.id})}" th:method="POST">
                <button th:type="submit" class="btn">Delete</button>
            </form>
        </div>
    </div>

    <div th:if="${events.isEmpty()}">
        <h2>You have not joined any events. <a href="/events">Want to join now?</a></h2>
    </div>
    <div th:if="${!events.isEmpty()}">
        <h2>You have joined these events</h2>
        <div th:each="event : ${events}" id="joinedEvents">
            <a th:href="@{events/{id}(id=${event.id})}">
                <h3 th:text="${event.name}"></h3>
                <h3 th:text="${event.date}"></h3>
                <h3 th:text="${event.time}"></h3>
            </a>
            <form th:action="@{/events/{id}/cancel(id=${event.id})}" th:method="POST">
                <button th:type="submit" class="btn">Cancel</button>
            </form>
        </div>
    </div>
</main>

<footer th:replace="fragments/footer :: footer"></footer>
<script src="/js/navbar.js"></script>
<script src="/js/modal.js"></script>
<script src="/js/login.js"></script>
</body>
</html>
