<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show Profile</title>
</head>
<body>
<div class="main-block">
  <form action="/profile/show" method="POST">
    <h1>Show Profile</h1>
    <fieldset>
      <legend>
        <h3>Personal Details</h3>
      </legend>
      <table>
        <tr>
          <th>Username</th>
          <th>Email</th>
          <th>Name</th>
          <th>Phone Number</th>
          <th>City</th>
          <th>State</th>
        </tr>
      </table>
    </fieldset>
    <button type="submit">Edit</button>
  </form>
</div>
</body>
</html>