<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show Profile</title>
</head>
<body>
<div class="main-block">
  <form action="/profile/show" method="POST">
    <h1>Show Profile</h1>
    <fieldset>
      <legend>
        <h3>Personal Details</h3>
      </legend>
      <table>
        <tr>
          <td>Username</td>
          <td>Email</td>
          <td>Name</td>
          <td>Phone Number</td>
          <td>City</td>
          <td>State</td>
        </tr>
      </table>
    </fieldset>
    <button type="submit">Edit</button>
  </form>
</div>
</body>
</html>