@import url("https://fonts.googleapis.com/css?family=Nunito:300, 400, 700");
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

/* body{
  background: #102d3e;
} */

* {
     box-sizing: border-box;
     /* border-style: dotted; */
    font-size: 16px;
 }

html, body {
    background-color: #e5e5e5;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    /* overflow-y: scroll;
    scroll-behavior: smooth; */

    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
    margin: 0;

}

body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

:root {
    font-family: "Nunito", sans-serif;
}

h2, h3 {
    margin: 0;
}

p{
    font-size: 14px;
}


/* ****************************** NAVBAR CSS ****************************** */
.navbar {
    overflow: hidden;
    background-color: #333;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

@media screen and (max-width: 600px) {
    .navbar a:not(:first-child) {display: none;}
    .navbar a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .navbar.responsive {
        position: relative;
    }

    .navbar.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .navbar.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}


/* ****************************** FOOTER CSS ****************************** */
footer h1 {
    text-align: center;
    font-family: roboto;
    font-weight: 400;
    font-size: 35px;
    color: #656565;
}

footer {
    background-color: #3c3b3b;
    padding: 3em 4em 2em;
}
footer .logo {
    color:#fff;
    font-size: 28px;
    font-family: roboto;
}
footer .row {
    margin: 2em 0;
    font-family: lato;
    color: #fff;
    position: relative;
    border-bottom: 1px solid #cecece;
}

.social-links {
    bottom: 60px;
    position: relative;
    float: right;
}
.social-links a {
    color: #fff;
    font-size: 20px;
    border: 1px solid;
    border-radius: 20px;
    padding: 6px;
    -webkit-transition:all .2s ease-in;
    transition:all .2s ease-in;
}
.social-links a:not(:last-child) {
    margin-right: 10px;
}
.social-links a:hover, .social-links a:focus {
    background-color: #212121;
}
.social-links a i {
    width: 25px;
    height: 25px;
    text-align:center;

}
#copyright {
    text-align: center;
    color:#fff;
    font-family: lato;
}
/* iPads to Smartphone for Common Elements ----------- */
@media only screen and (max-width : 1024px) {

    footer .footer-cat {
        margin-left: 25px;
    }

    .footer-cat-links {
        margin: 0 0em 0px 1.6em;
    }

    .footer-cat-links a {
        pointer-events: none;
    }

    .footer-cat-links li {
        line-height: 0;
        opacity: 0;
    }

    .footer-cat-links.active > li {
        line-height: 2;
        opacity: 1;
    }
}
/* iPads (portrait)----------- */
@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : portrait) {
    .logo{
        display: none;
    }
    footer {
        padding-right:3em;
        padding-left:3em;
    }
}

/* Mini Tablet ----------- */
@media only screen and (max-width : 600px) {
    .logo{
        display: none;
    }
    .col-6 {
        width: 100%;
        display: block;
    }
    footer {
        padding: 3em 2em 2em;
    }
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width : 480px) {
    .col-6 {
        width: 100%;
        display: block;
    }
    footer {
        padding-right: 1em;
        padding-left: 1em;
    }
}




.mainContainer{

    /* display: none; */
    /* overflow-x: hidden;
    overflow-y: auto;
    display: inline;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto; */

}


/* ****************************** SIGNUP-LOGIN PAGE ****************************** */
small {
    font-size: 0.9em;
    line-height: 2.5em;
    display: block;
    color: #555;
}

p.errorMessage {
    width: 182px;
    color: red;
}

/* -- button -- */
.btn {
    display: inline-block;
    padding: 15px 25px;
    border-radius: 23px;
    text-decoration: none;
    color: white;
    white-space: nowrap;
    line-height: 1em;
    background: #ff4757;
    border: 0;
    cursor: pointer;
    transition: transform 0.2s;
}
.btn:hover {
    transform: scale(1.05);
}
.btn.btn-light {
    color: #ff4757;
    background: white;
    border: 2px solid #ff4757;
}

/* -- FORM -- */
.form {
    position: relative;
    width: 80vw;
    max-width: 80%;
    background: white;
    margin: 0 auto;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}
.form__wrapper {
    width: 100%;
    height: 100vh;
    padding: 10vh 20px;
    background: #3a1986;
}
.form__options {
    padding: 160px 0;
    display: flex;
    height: 700px;
}
.form__options > div {
    width: 50%;
    text-align: center;
}
.form.slide .form__background {
    left: 50%;
    right: -20px;
}
.form__background {
    position: absolute;
    background: #2f3542;
    top: -20px;
    left: -20px;
    right: 50%;
    bottom: -20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transition: 0.5s cubic-bezier(0.85, 0, 0.15, 1);
    border-radius: 20px;
}
.form__body {
    position: absolute;
    top: 0;
    left: -20px;
    right: -20px;
    bottom: 0;
    padding: 20px 0;
    transition: 0.5s;
    display: flex;
    justify-content: space-around;
    pointer-events: none;

}
.form__body form {
    pointer-events: all;
    margin: 20px 0;
    transition: opacity 0.3s;
}
.form__body form h2 {
    margin-top: 0;
    color: white;
    font-size: 3em;
}
.form__body form .input-field {
    margin-bottom: 10px;
}
.form__body form label {
    display: block;
    color: white;
    line-height: 2em;
    font-weight: 300;
}
.form__body form input[type=text], .form__body form input[type=password], .form__body form input[type=email] {
    padding: 8px;
    border: 0;
    border-radius: 5px;
}
.form form:first-child {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.4s;
}
.form.slide form:first-child {
    opacity: 0;
    visibility: hidden;
    transition-delay: 0s;
}
.form form:last-child {
    opacity: 0;
    visibility: hidden;
    transition-delay: 0s;
}
.form.slide form:last-child {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.4s;
}


/* -- PASSWORD CHECK -- */
span {
    width: 100%;
    display: flex;
    margin: 20px 0px 0px 0px;
    font-family: 'Poppins';
    font-weight: 400;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
    display: flex;
    align-items: center
}

.fa, .fas {
    margin-right: 15px
}


/* ****************************** HOME PAGE ****************************** */

/* -- IMAGE CAROUSEL -- */
.slider-container {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    /* padding-top: 50px; */
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 10px;
    z-index: 1000;

}

.slick-slide {
    padding: 1px;
    height: auto;

}
.slick-slide .slide-wrap {
    margin: 0 10px;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: rgb(252, 243, 232);


}
.slick-slide .slide-wrap p {
    padding: 10px;
    margin: 0;

}
.slick-slide .image {
    height: 230px;
    width: auto;
    background: gray;
    border-radius: 5px;
    border-bottom-right-radius:0px ;
    border-bottom-left-radius:0px ;
}

/* -- SLIDE SHOW BUTTONS -- */
.slick-arrow {
    position: absolute;
    top: calc(50% - 20px);
    height: 20px;
    width: 20px;
    cursor: pointer;
    color: transparent;
    border: none;
    z-index: 10;
}

.slick-prev {
    left: -40px;
    background: url(https://image.flaticon.com/icons/png/512/318/318477.png) no-repeat;
    background-size: contain;
    filter: invert(100%);
}

.slick-next {
    right: -40px;
    background: url(https://image.flaticon.com/icons/png/512/318/318476.png) no-repeat;
    background-size: contain;
    filter: invert(100%);
}

/* -- SEARCH BAR -- */
*,*::before,*::after {
    margin: 0;
    padding: 0;
    line-height: inherit;
    box-sizing: inherit;
}




.container {
    width: 60%;
    /* height: auto; */
    background-color: #e5e5e5;;

    /*   margin: 20vh auto; */
    position: absolute;
    top: 93%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4rem;
    /* border-radius: 5px; */
    /* padding: 10px; */
}

.search__box {
    float: left;
    width: 0;
    height: 4rem;
    /*   display: inline; */
    background: none;
    color: #6e6e6e;
    font-size: 1.5rem;
    border-radius: 2rem;
    outline: none;
    border: none;
    position: relative;
    opacity: 1;
    transition: all .75s ease-in;
    -webkit-transition: all .75s ease-in;
    cursor: pointer;
    /* border: 2px solid tomato;
  margin-top: 5px; */
}

/* .search__box:focus, .search__box:hover {
  background-color: #f1f2f6;
} */

.search__icon {
    box-sizing: border-box;
    float: right;
    font-size: 2.5rem;
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin-left: .8rem;
    margin-top: 0;
    cursor: pointer;
    position: absolute;
    color: #16aaaa;
    transition: all .25s ease-in;
    -webkit-transition: all .25s ease-in;
    padding: .7rem;
    border-radius: 50%;
}

.container:hover > .search__box {
    width: 85%;
    padding: 0 1rem;
}

.container:hover > .search__icon {
    background-color: #e5e5e5;
}

.show {
    width: 85%;
    border: 1px solid red;
}

/* -- PARALLAX -- */
#parallax {
    perspective: 100px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    scrollbar-width: none;




}


#parallax::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

.parallax__layer {
    position: absolute;
    top: 200px;
    right: 0;
    bottom: 0;
    left: 50%;
    margin-left: -1500px;
    /* zoom: 0.9; */
}
.parallax__layer img {
    display: block;
    position: absolute;
    bottom: 0;



}

.parallax__cover {
    background: #102d3e;
    display: block;
    position: absolute;
    top: 100%;
    left: 50%;
    right: 0;
    height: 1000px;
    width: 3000px;
    z-index: 2;
    margin-left: -1500px;
}

.parallax__layer__0 {
    transform: translateZ(-300px) scale(4);
    position:absolute;
    top:310px;
}

.parallax__layer__1 {
    transform: translateZ(-250px) scale(3.5);
    position:absolute;
    top:610px;
}

.parallax__layer__2 {
    transform: translateZ(-200px) scale(3);
    position:absolute;
    top:540px;
}

.parallax__layer__3 {
    transform: translateZ(-150px) scale(2.5);
    position:absolute;
    top:590px;
}

.parallax__layer__4 {
    transform: translateZ(-100px) scale(2);
    position:absolute;
    top:490px;
}

.parallax__layer__5 {
    transform: translateZ(-50px) scale(1.5);
    position:absolute;
    top:176px;
}

.parallax__layer__6 {
    transform: translateZ(0px) scale(1.00);
}

/* -- CLOCK -- */
.clock {
    position: absolute;
    top:25%;
    left: 5%;
    z-index: 0;

    font-size: 64px;
    font-family: 'roboto', sans-serif;
    font-weight: 100;
    color: #102d3e;
    transition:3s ease-in-out;
    text-shadow: 2px 2px 5px rgba(150, 150, 150, 0.5);

}

/* -- FONT AWESOME ICONS -- */
.boxx{
    position: absolute;
    top: 93%;
    left: 84%;
    transform: translate(-50%, -50%);
    z-index: 10000;
    display: flex;
}

.boxx::after{
    content: "\f073";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 2.45em;
    z-index: 1000;
    color: rgb(255, 255, 255);
    -webkit-transition: opacity 75ms linear, background-color 100ms linear;
    transition: opacity 75ms linear, background-color 100ms linear;
}


.boxx { transition: all .5s ease-in-out; }
.boxx:hover::after { transform: scale(1.1); }


/* ****************************** SHOW PROFILE PAGE ****************************** */
#profileImage {
    width: 5rem;
}