<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" style="max-width: 100%; overflow-x: hidden;">
<head th:replace="fragments/head :: head">
</head>
<body class="body">
<nav th:replace="fragments/navbar :: navbar"></nav>

<main class="contactUs developer-cards">
    <div class="developer-card">
        <div class="developer-image">
            <img src="/images/karla.jpg" alt="Karla's image">
        </div>
        <div class="developer-info">
            <h4>Karla Jara</h4>
            <p>
                <a href="mailto: jara.karla.43@gmail.com"><i class="fas fa-envelope"></i></a>
                <a href="https://github.com/karla-jara" target="_blank"><i class="fab fa-github"></i></a>
                <a href="https://www.linkedin.com/in/karla-jara-full-stack-dev/" target="_blank"><i class="fab fa-linkedin"></i></a>
            </p>
        </div>
    </div>
    <div class="developer-card">
        <div class="developer-image">
            <img src="/images/shan.png" alt="Shanshan's image">
        </div>
        <div class="developer-info">
            <h4>Shanshan Su</h4>
            <p>
                <a href="mailto: shanshansu36@gmail.com"><i class="fas fa-envelope"></i></a>
                <a href="https://github.com/shanshan-su" target="_blank"><i class="fab fa-github"></i></a>
                <a href="https://www.linkedin.com/in/shanshan-su-wathen/" target="_blank"><i class="fab fa-linkedin"></i></a>
            </p>
        </div>
    </div>
    <div class="developer-card">
        <div class="developer-image">
            <img src="/images/victor.jpg" alt="Victor's image">
        </div>
        <div class="developer-info">
            <h4>Victor G Hernandez</h4>
            <p>
                <a href="mailto: victor.g.hernandez87@gmail.com"><i class="fas fa-envelope"></i></a>
                <a href="https://github.com/Victor-G87" target="_blank"><i class="fab fa-github"></i></a>
                <a href=""><i class="fab fa-linkedin"></i></a>
            </p>
        </div>
    </div>

    <div class="developer-card">
        <div class="developer-image">
            <img src="/images/manny.jpg" alt="Emmanuel's image">
        </div>
        <div class="developer-info">
            <h4>Emmanuel Stephen</h4>
            <p>
                <a href="mailto: emmanuel.r.stephen86@gmail.com"><i class="fas fa-envelope"></i></a>
                <a href="https://github.com/Manii-dot" target="_blank"><i class="fab fa-github"></i></a>
                <a href="https://www.linkedin.com/in/emmanuel-stephen-702893178/" target="_blank"><i class="fab fa-linkedin"></i></a>
            </p>
        </div>
    </div>
    <div class="developer-card">
        <div class="developer-image">
            <img src="/images/salim.jpg" alt="Salim's image">
        </div>
        <div class="developer-info">
            <h4>Salim Ahmedabadi</h4>
            <p>
                <a href="mailto: ahmedabadi.salim@gmail.com"><i class="fas fa-envelope"></i></a>
                <a href="https://github.com/salimk785" target="_blank"><i class="fab fa-github"></i></a>
                <a href="https://www.linkedin.com/in/salim-ahmedabadi/" target="_blank"><i class="fab fa-linkedin"></i></a>
            </p>
        </div>
    </div>
</main>

<footer th:replace="fragments/footer :: footer" class="showEvent-footer"></footer>

<script src="/js/navbar.js"></script>
<script src="/js/modal.js"></script>
<script src="/js/login.js"></script>
</body>
</html>