<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
    <title>Home Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/fontawesome.min.css" integrity="sha512-OdEXQYCOldjqUEsuMKsZRj93Ht23QRlhIb8E/X0sbwZhme8eUw6g8q7AdxGJKakcBbv7+/PX0Gc2btf7Ru8cZA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>

<main>

    <!-- ------------- SIDE NAV ------------- -->

    <div id="mySidenav" class="sidenav">
        <!--        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>-->

        <!-- ------------- calendar goes in here ------------- -->

        <!--        getting all hidden value for event-->
        <div class="displayed-event" th:each="event: ${events}">
            <input type="hidden" th:value="${event.id}">
            <input type="hidden" th:value="${event.name}">
            <!--&lt;!&ndash;            <input type="hidden" th:value="${event.location}">&ndash;&gt;-->
            <input type="hidden" th:value="${event.time}">
            <!--&lt;!&ndash;            <input type="hidden" th:value="${event.meetTime}">&ndash;&gt;-->
            <input type="hidden" th:value="${event.date}">
        </div>
        <div id='calendar'></div>
        <input type="hidden" id="Event" th:value="${events}">

        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
        <lottie-player id="calendarClose" class="closebtn" onclick="closeNav()" src="https://assets5.lottiefiles.com/private_files/lf30_MRHieC.json"  background="transparent"  speed="1"  style="width: 170px; height: 170px;" hover   ></lottie-player>

    </div>

<!--    <div id="main"></div>-->

    <!-- ------------- SIDE NAV ------------- -->

    <div class="clock"></div>

    <script>
        function clock() {
            var time = new Date(),

                hours = time.getHours(),

                minutes = time.getMinutes(),

                seconds = time.getSeconds();

            document.querySelectorAll('.clock')[0].innerHTML = x(hours) + ":" + x(minutes) + ":" + x(seconds);

            function x(standIn) {
                if (standIn < 10) {
                    standIn = '0' + standIn
                }
                return standIn;
            }
        }
        setInterval(clock, 1000);
    </script>

    <!--  LANDING PAGE PARALLAX  -->

    <style>
        html, body{
            max-width: 100%;
            overflow-x:hidden ;
        }
    </style>

    <span class="cloud  cloud-fg cloud1"></span>
    <span class="cloud cloud-fg cloud2"></span>
    <span class="cloud cloud-fg cloud3"></span>

    <span class="cloud cloud-fg cloud4"></span>
    <span class="cloud cloud-fg cloud5"></span>

    <div id="parallax">

        <div class="sky"></div>
        <div class="parallax__layer parallax__layer__0">
            <img src="/images/nine.png" height="455" width="3000"/>
        </div>
        <div class="parallax__layer parallax__layer__1">
            <img src="/images/eight1.png" height="455" width="3000"/>
        </div>
        <div class="parallax__layer parallax__layer__2">
            <img src="/images/seven1.png" height="455" width="3000"/>
        </div>
        <div class="parallax__layer parallax__layer__3">
            <img src="/images/five1.png" height="455" width="3000"/>
        </div>
        <div class="parallax__layer parallax__layer__4">
            <img src="/images/three1.png" height="455" width="3000"/>
        </div>
        <div class="parallax__layer parallax__layer__5">
            <img src="/images/two1.png" height="455" width="3000"/>
        </div>
        <div class="parallax__layer parallax__layer__6">
            <img src="/images/one1.png" height="455" width="3000"/>
        </div>
        <div class="parallax__cover"></div>

        <div class="mainContainer" >
            <div class="trail-form">
                <form th:action="@{/search-trail}" method="get">
                    <div class="container">
                        <input type="text" placeholder="Search Trails..." name="keyword" class="search__box">
                        <button type="submit" class="search__icon"><i class="fas fa-search"></i></button>
                    </div>
                </form>
                <div class="filter" style="margin-top:21rem; margin-left:17rem; position:absolute; z-index:1000">
                    <label for="difficultyLevel"></label>
                    <select id="difficultyLevel" name="difficulty_level">
                        <option th:value="null">Filter by Difficulty-Level</option>
                        <option th:value="Easy">Easy</option>
                        <option th:value="Moderate">Moderate</option>
                        <option th:value="Strenuous">Strenuous</option>
                    </select>

                    <label for="type"></label>
                    <select id="type" name="type">
                        <option th:value="null">Filter by Route Type</option>
                        <option th:value="Loop">Loop</option>
                        <option th:value="Out_and_back">Out and back</option>
                        <option th:value="Point_to_point">Point to point</option>
                        <option th:value="Cycleway">Cycleway</option>
                    </select>
                </div>
            </div>
            <div class="boxx" onclick="openNav()"></div>

            <div class="slider-container" >
                <div class="slider">
                    <div th:each="trail : ${trails}">
                        <a th:href="${'/trails/' + trail.id}">
                            <div class="slide-wrap">
                                <div class="image">
                                    <img class="image" th:src="${trail.trailImages[0].pictureUrl}" alt="trail image">
                                </div>
                                <div class="header">
                                    <h3 th:text="${trail.name}"></h3>
                                    <h4 th:text="${'Difficulty Level:  ' + trail.difficultyLevel}"></h4>
                                    <h4 th:text="${'Trail length (miles):  ' + trail.length}"></h4>
                                    <h4 th:text="${'Trail route type:  ' + trail.type}"></h4>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!--<script th:inline="javascript">-->
<!--    /*<![CDATA[*/-->
<!--    var trails = [[${trails}]];-->
<!--    console.log(trails);-->
<!--    /*]]>*/-->
<!--</script>-->
<!-- partial -->

<script src='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js'></script>

<!--<script type="text/javascript" src="/js/jquery.nicescroll.min.js"></script>-->
<script src="/js/calendar.js"></script>
<script src="/js/navbar.js"></script>
<script src="/js/modal.js"></script>
<script src="/js/login.js"></script>
<script src="/js/trail.js"></script>
</body>
</html>