<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
    <title>Home Page</title>
</head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>

<main>

    <!-- ------------- SIDE NAV ------------- -->

    <div id="mySidenav" class="sidenav">
        <!--        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>-->

        <!-- ------------- calendar goes in here ------------- -->

        <!--        getting all hidden value for event-->
        <div class="displayed-event" th:each="event: ${events}">
            <input type="hidden" th:value="${event.id}">
            <input type="hidden" th:value="${event.name}">
            <input type="hidden" th:value="${event.time}">
            <input type="hidden" th:value="${event.date}">
        </div>
        <div id='calendar'></div>
        <input type="hidden" id="Event" th:value="${events}">

        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
        <lottie-player id="calendarClose" class="closebtn" onclick="closeNav()" src="https://assets5.lottiefiles.com/private_files/lf30_MRHieC.json"  background="transparent"  speed="1"  style="width: 170px; height: 170px;" hover   ></lottie-player>

    </div>

    <div id="main"></div>

    <!-- ------------- SIDE NAV ------------- -->

    <div class="clock"></div>

    <script>
        function clock() {
            var time = new Date(),

                hours = time.getHours(),

                minutes = time.getMinutes(),

                seconds = time.getSeconds();

            document.querySelectorAll('.clock')[0].innerHTML = x(hours) + ":" + x(minutes) + ":" + x(seconds);

            function x(standIn) {
                if (standIn < 10) {
                    standIn = '0' + standIn
                }
                return standIn;
            }
        }
        setInterval(clock, 1000);
    </script>

    <!--  LANDING PAGE PARALLAX  -->

    <style>
        html, body{
            max-width: 100%;
            overflow-x:hidden ;
        }
    </style>

    <span class="cloud  cloud-fg cloud1"></span>
    <span class="cloud cloud-fg cloud2"></span>
    <span class="cloud cloud-fg cloud3"></span>

    <span class="cloud cloud-fg cloud4"></span>
    <span class="cloud cloud-fg cloud5"></span>

    <div id="parallax">

        <div class="sky"></div>
        <div class="parallax__layer parallax__layer__0">
            <img src="/images/nine.png" height="455" width="3840"/>
        </div>
        <div class="parallax__layer parallax__layer__1">
            <img src="/images/eight1.png" height="455" width="3840"/>
        </div>
        <div class="parallax__layer parallax__layer__2">
            <img src="/images/seven1.png" height="455" width="3840"/>
        </div>
        <div class="parallax__layer parallax__layer__3">
            <img src="/images/five1.png" height="455" width="3840"/>
        </div>
        <div class="parallax__layer parallax__layer__4">
            <img src="/images/three1.png" height="455" width="3840"/>
        </div>
        <div class="parallax__layer parallax__layer__5">
            <img src="/images/two1.png" height="455" width="3840"/>
        </div>
        <div class="parallax__layer parallax__layer__6">
            <img src="/images/one1.png" height="455" width="3840"/>
        </div>
        <div class="parallax__cover"></div>

        <div class="mainContainer" >
            <div class="trail-form">
                <form th:action="@{/search-trail}" method="get">
                    <div class="container">
                        <label for="keyword"></label>
                        <input type="text" id="keyword" name="keyword" placeholder="Search Trails..." class="search__box">
                        <button type="submit"><i class="fas fa-search search__icon" id="search"></i></button>
                    </div>
                </form>
                <form action="/trails/filter" method="get" style="margin-top:21rem; margin-left:17rem; position:absolute; z-index:1000">
                    <h3>Filter By Difficulty Level Or Route Type</h3>
                    <div>
                        <input type="radio" id="easy" name="difficulty" value="Easy">
                        <label for="easy">Easy</label>
                        <input type="radio" id="moderate" name="difficulty" value="Moderate">
                        <label for="moderate">Moderate</label>
                        <input type="radio" id="strenuous" name="difficulty" value="Strenuous">
                        <label for="strenuous">Strenuous</label>
                    </div>
                    <div>
                        <input type="radio" id="loop" name="type" value="Loop">
                        <label for="loop">Loop</label>
                        <input type="radio" id="outAndBack" name="type" value="Out and back">
                        <label for="outAndBack">Out and back</label>
                        <input type="radio" id="pointToPoint" name="type" value="Point to point">
                        <label for="pointToPoint">Point to point</label>
                        <input type="radio" id="cycleway" name="type" value="Cycleway">
                        <label for="cycleway">Cycleway</label>
                    </div>

                    <button type="submit">Submit</button>
                </form>
            </div>
            <div class="boxx" onclick="openNav()"></div>


            <div class="slider-container">
                <div th:if="${trails.isEmpty()}">
                    <h2>No trail found. </h2>
                </div>
                <div th:if="${trails}" class="slider">
                    <div th:each="trail : ${trails}">
                        <a th:href="${'/trails/' + trail.id}">
                            <div class="slide-wrap">
                                <div class="image">
                                    <img class="image" th:src="${trail.trailImages[0].pictureUrl}" alt="trail image">
                                </div>
                                <div class="header">
                                    <h3 th:text="${trail.name}"></h3>
                                    <h4 th:text="${'Difficulty Level:  ' + trail.difficultyLevel}"></h4>
                                    <h4 th:text="${'Trail length (miles):  ' + trail.length}"></h4>
                                    <h4 th:text="${'Trail route type:  ' + trail.type}"></h4>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<!--    <footer th:replace="fragments/footer :: footer" class="showEvent-footer"></footer>-->


<!--<script th:inline="javascript">-->
<!--    /*<![CDATA[*/-->
<!--    var trails = [[${trails}]];-->
<!--    console.log(trails);-->
<!--    /*]]>*/-->
<!--</script>-->
<!-- partial -->

<script src='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js'></script>

<!--<script type="text/javascript" src="/js/jquery.nicescroll.min.js"></script>-->
<script src="/js/calendar.js"></script>
<script src="/js/navbar.js"></script>
<script src="/js/modal.js"></script>
<script src="/js/login.js"></script>
<script src="/js/trail.js"></script>
</body>
</html>
