<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head :: head">
    <meta name="mapboxToken" th:content="${mapboxToken}">
    <title>Show Trail</title>
</head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>
<main>
    <div th:if="${trail == null}">
        <h2>Trail not found.</h2>
    </div>
    <div>
        <h2 th:text="${trail.name}"></h2>
        <h3 th:text="${trail.difficultyLevel}"></h3>
        <h4 th:text="${trail.rating}">rating:</h4>
        <h3 th:text="${trail.length}">length(in miles):</h3>
        <h4 th:text="${trail.elevation}">elevation change:</h4>
        <h4 th:text="${trail.type}">route type:</h4>
        <h4 th:text="${trail.trailDetails}"></h4>
        <div>
            <img th:each="image : ${trail.trailImages}" th:src="${image.pictureUrl}" alt="trail image">
        </div>
        <div th:each="comment : ${trail.trailComments}">
            <div><span th:text="comment.owner.username"></span> <span th:text="comment.date"></span></div>
            <p th:text="${comment.content}"></p>
            <div th:if="${loggedInUser.isAdmin() || loggedInUser.id == comment.owner.id}">
                <form th:action="@{/trails/{id}/comment/{cid}/delete(id=${trail.id},cid=${comment.id})}" method="post">
                    <button type="submit">Delete</button>
                </form>
            </div>

        </div>
    </div>

    <div sec:authorize="isAuthenticated()">
        <form th:action="@{/trails/{id}/comment(id=${trail.id})}" th:object="${trailComment}" th:method="POST">
            <textarea th:name="comment" id="" cols="30" rows="10" th:field="*{content}"></textarea>
            <button type="submit">Submit Comment</button>
        </form>
    </div>

    <div th:if="trail.mapPoints == null">
        No map available.
    </div>
    <div th:if="trail.mapPoints != null" >
        <input type="hidden" id="trailId" th:value="${trail.id}">
        <input type="hidden" id="trailLocation" th:value="${trail.longitude + ',' + trail.latitude}">
        <button class="btn" id="getMap">Get trail map</button>
        <div id="map" style="height: 900px"></div>
    </div>
</main>
<footer th:replace="fragments/footer :: footer"></footer>


<script th:inline="javascript">
    // assign mapboxToken to a variable
    const mapboxToken = [[${mapboxToken}]];
    console.log(mapboxToken);
</script>
<!-- Mapbox JS -->
<script src='https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.js'></script>
<!-- Mapbox Geocoder Util Methods -->
<script src="/js/mapbox-geocoder-utils.js"></script>
<script src="/js/map.js"></script>
<script src="/js/showTrailMap.js"></script>
</body>
</html>
