<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="/fragments/head :: head">
  <title>Show All Events</title>
</head>
<body>
<nav th:replace="/fragments/navbar :: navbar"></nav>

<main>
  <div th:if="${noTrailsFound}">
    <h1>No trails were found</h1>
  </div>
  <h2>Review the list for trails near you</h2>
  <h4>Click the the trail for more details</h4>
  <div th:each="trail : ${trails}">
    <h3 th:text="${trail.name}">Trail name</h3>
    <h3 th:text="${trail.length}">length in miles</h3>
    <h3 th:text="${trail.rating}">Trail rating</h3>
    <!--            add map here-->

  </div>
</main>

<footer th:replace="/fragments/footer :: footer"></footer>
</body>
</html>