<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head :: head">
    <meta name="mapboxToken" th:content="${mapboxToken}">
    <title>Show Trail</title>
</head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>
<main style="margin-top: 5rem">
    <div th:if="${trail == null}">
        <h1>Trail not found.</h1>
    </div>
    <div th:if="${trail != null}">
        <h1 th:text="${trail.name}"></h1>
        <h4 th:text="${trail.difficultyLevel}"></h4>
        <div th:if="${trail.rating != 0}">
            <h4 th:text="${'rating: ' + trail.rating}"></h4>
        </div>
        <div th:if="${trail.rating == 0}">
            <h4>No rating available</h4>
        </div>
        <h4 th:text="${'length: ' + trail.length + 'miles'}"></h4>
        <h4 th:text="${'elevation change: ' +  trail.elevation}"></h4>
        <h4 th:text="${'route type: ' +  trail.type}"></h4>
        <h4 th:text="${trail.trailDetails}"></h4>
        <div>
            <img th:each="image : ${trail.trailImages}" th:src="${image.pictureUrl}" alt="trail image">
        </div>
        <input type="hidden" id="commentsNumber" th:value="${trailComments.size()}">
        <br>
        <div th:if="${!trailComments.isEmpty()}" th:each="comment : ${trailComments}">
            <div>
                <img class="profileImage" th:src="${comment.owner.profileImageUrl}" alt="profile-image">
                <span th:text="${comment.owner.username}"></span>
            </div>
            <div class="starRating">
                <div th:text="${comment.rating}"></div>
                <input type="hidden" class="userRating" th:value="${comment.rating}">
                <div class="stars">
                    <i class="fa fa-star star"></i>
                    <i class="fa fa-star star"></i>
                    <i class="fa fa-star star"></i>
                    <i class="fa fa-star star"></i>
                    <i class="fa fa-star star"></i>
                </div>
                <span th:text="${comment.date}"></span>
            </div>
            <p th:text="${comment.content}"></p>
            <div sec:authorize="isAuthenticated()">
                <div th:if="${loggedInUser.isAdmin() || loggedInUser.id == comment.owner.id}">
                    <form th:action="@{/trails/{id}/comment/{cid}/delete(id=${trail.id},cid=${comment.id})}" method="post">
                        <button type="submit">Delete</button>
                    </form>
                </div>
            </div>
        </div>

    </div>


    <div sec:authorize="isAuthenticated()">
        <form class="rating-widget" th:action="@{/trails/{id}/comment(id=${trail.id})}" th:object="${trailComment}" th:method="POST">
            <input type="checkbox" class="star-input" id="1" data-value="1"/>
            <label class="star-input-label" for="1">1
                <i class="fa fa-star"></i>
                <i class="fa fa-star orange"></i>
            </label>
            <input type="checkbox" class="star-input" id="2" data-value="2"/>
            <label class="star-input-label" for="2">2
                <i class="fa fa-star"></i>
                <i class="fa fa-star orange"></i>
            </label>
            <input type="checkbox" class="star-input" id="3" data-value="3"/>
            <label class="star-input-label" for="3">3
                <i class="fa fa-star"></i>
                <i class="fa fa-star orange"></i>
            </label>
            <input type="checkbox" class="star-input" id="4" data-value="4"/>
            <label class="star-input-label" for="4">4
                <i class="fa fa-star"></i>
                <i class="fa fa-star orange"></i>
            </label>
            <input type="checkbox" class="star-input" id="5" data-value="5"/>
            <label class="star-input-label" for="5">5
                <i class="fa fa-star"></i>
                <i class="fa fa-star orange"></i>
            </label>
            <input type="hidden" id="rating" th:field="*{rating}">
            <textarea th:name="comment" cols="20" rows="10" th:field="*{content}"></textarea>
            <button type="submit">Submit</button>
        </form>
    </div>

    <div th:if="${trail.mapPoints.isEmpty() || trail.longitude == 0 || trail.latitude == 0}">
        No map available.
    </div>
    <div th:if="${!trail.mapPoints.isEmpty() && trail.longitude != 0 && trail.latitude != 0}">
        <input type="hidden" id="trailId" th:value="${trail.id}">
        <input type="hidden" id="trailLocation" th:value="${trail.longitude + ',' + trail.latitude}">
        <button class="btn" id="getMap">Get trail map</button>
        <div id="map"></div>
    </div>
</main>
<footer th:replace="fragments/footer :: footer"></footer>


<script th:inline="javascript">
    // assign mapboxToken to a variable
    const mapboxToken = [[${mapboxToken}]];
    console.log(mapboxToken);
</script>
<!-- Mapbox JS -->
<script src='https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.js'></script>
<!-- Mapbox Geocoder Util Methods -->
<script src="/js/mapbox-geocoder-utils.js"></script>

<script src="/js/navbar.js"></script>
<script src="/js/modal.js"></script>
<script src="/js/login.js"></script>
<script src="/js/showTrailMap.js"></script>
<script src="/js/stars.js"></script>
</body>
</html>
