<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Show Trail</title>
    <link rel="stylesheet" href="css/trail.css">
</head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>
<main>
    <div th:if="${trail == null}">
        <h2>Trail not found.</h2>
    </div>
    <div th:each="trail : ${trails}">
<!--        <h2>Search a trail by name, difficulty level, rating, or location </h2>-->
        <h4 th:text="${trailId}">ID</h4>
        <h2 th:text="${trail.name}">Trail name:</h2>
        <h3 th:text="${trail.difficultyLevel}">difficulty level:</h3>
        <h4 th:text="${trail.rating}">rating:</h4>
        <h3 th:text="${trail.length}">length(in miles):</h3>
        <h4 th:text="${trail.elevation}">elevation change:</h4>
        <h4 th:text="${trail.type}">route type:</h4>
        <h4 th:text="${trail.trailDetails}">trail details:</h4>
        <h4 th:text="${trail.events}">trail events:</h4>
        <h4 th:text="${trail.trailImages}">trail images:</h4>
        <div><h4 th:text="${trail.trailComments}">trail comments:</h4></div>
    </div>
</main>
<footer th:replace="/fragments/footer :: footer"></footer>

<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
<script src="js/trail.js"></script>
</body>
</html>